
/*/// FOR YOU TO DO://////

1. CHANGE alll #beyoncek TO #your 1st name and last initial

2. change the background to a url of an image of you or something that represents you
////////////////////////////////////////
*/

.beyonceg {
 background-image: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/7479145/1820/1214/m1/fpnw/wm1/rick-morty-.png?1576669533&s=f24e8287ad46f3bf8f9ea6b7a4b5bd6b); 
  
}

/*FOR YOU TO DO: add some hover effects!

1. First change beyonceK to your name and last initial (it should be the sam as your ID without the #)*/

.NiccoS-effect:hover {
  animation-name:
  transform:rotateZ(100rad);
  transition-duration:3s;
  transition:ease-in;
background-image:url("https://media.giphy.com/media/Q22kcRdASuBvW/giphy.gif"); 
  background-repeat:no-repeat;
  background-size:cover;
}

.container:hover{
  
  background-color:lightblue;
}

#NiccoS-name:hover{
animation-name:shrink; 
  animation-duration:10s;
  animation-iteration-count:infinite;
  transition:.5s ease-in-out;
}

@keyframes expand{
    0%{
    font-size:100%;
  }
   50%{
    font-size:300%;
  }
  
  100%{
    font-size:100%
  }
}

.container {
    width: 15vw;
    margin: 1%;
    text-align: center;
    color: rgb(105, 105, 105);
    font-size: 18px;
    display: inline-block;
  backface-visibility:hidden;
  transition:2s ease-in-out;
  border-radius:10%

}


.headshot {
  backface-visibility: visible;
  perspective: 1000;
  background-color: rgba(245, 245, 245, 0.5);
  width: 15vw;
  height: 15vw;
  position: relative;
  display: inline-block;
  background-size: cover;
  background-position: center;
  border-radius: 10%;
  top: 0%;
  left: 0%;
  margin-bottom: 5%;
  background-color: rgb(176, 176, 176);
  border: 1px grey solid;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  /*-webkit-transition: all 0.5s ease-out;
-moz-transition: all 0.5s ease-out;*/
  transition: 0.5s ease-in;
}

/*Below is the styling for a div with the class name of "your-name." It's is the div containing  the text of your name, which is underneath the headshot div. This is what you'll click on to show the description on the "back" of your card.*/

.your-name {
  background-color:red;
  backface-visibility: visible;
  z-index: 10;
  position: relative;
  top: 0%;
  font-size: 2.5vw;
  font-family: Quicksand, sans-serif;
  color: rgb(105, 105, 105);
}

/*Below is a class with the name "description-invisible." The "description" is the class name I've given to a div which is the child of the headshot div. Even though it's right on top of the headshot div, we don't see it because it has an opacity of 0 and is invisible!*/

.description-invisible {
  z-index: -10;
  opacity: 0;
/*   transform: rotateY(0deg); */
  transition: 0.5s ease-in-out;
  font-family: Quicksand, sans-serif;
  font-size: 1.25vw;
  position: relative;
  width: 100%;
  height: 100%;
/*   text-align: left; */
}

/*
Below is the class name and styling we give to the description div when we click on the divs with the class "your-name."" It makes the description div visible by giving it an opacity of 1. It also obviously has other CSS properties which make the description div look similar to the headshot div. 
*/
.description-apparent {
/*   pointer-events: none; */
  transform:rotateY(180deg);
  z-index: 12;
  text-align: left;
  perspective: 1000;
  transition-delay: 0.5s;
  transition: 0.1s ease-in;
  transform: rotateY(-180deg);
  font-family: Quicksand, sans-serif;
  font-size: 1.25vw;
  top: 0%;
  left: 0%;
  width: 100%;
  height: 100%;
  text-align: left;
  animation-name: fadeToTransparent;
  animation-duration: 8s;
  background-color: rgb(176, 176, 176);
  width: 95%;
  height: 95%;
  border-radius: 10%;
  -webkit-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.3);
  padding: 2%;
}

/*Below are the properties of the animation that will fade divs with the "description-apparent" class back to being transparent with an opacity of 0. */

@keyframes fadeToTransparent {
  0% {
    opacity: 1;
    z-index: 1000;
  }

  50% {
    opacity: 1;
    z-index: 1000;
  }

  90% {
    opacity: 1;
    z-index: 1000;
  }

  100% {
    opacity: 1;
    z-index: 1000;
  }
}

.headshot-flip {
  text-align:right;
/*     pointer-events: none; */
  transform: rotateY(180deg);
  z-index: -5;
  width: 15vw;
  height: 15vw;
  background-color: rgba(245, 245, 245, 0.5);
  background-image: url();
  margin-bottom: 10%;
  margin-right: 2%;
  border-radius: 10%;
  text-align: left;
  z-index: -10;
}
